.App {
  text-align: center;
  background-color: #454545;
  height: 100vh;
  overflow: auto;
}

h3 {
  background-color: black;
  align-content: left;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#rowhai {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#pa {
  background-color: #303030;
}

#divvala {
  margin-top: 40px;
}

#row {
  font-family: 'Montserrat', sans-serif;
}

#fonts {
  font-color: white ;
}

.App-link {
  color: #61dafb;
}

.moreinfo {
    margin-top: 100px;
    display: inline-block;
    width: 80%;
}

.moreinfo1 {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
